* { box-sizing: border-box; }

html { background-color: #050a18; height: 100vh; width: 100vw; margin: 0px; }

@font-face {
    font-family: 'MabryPro';
    src: url('/static/fonts/MabryPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #F6F9FB;
}

a {
    color: #F6F9FB;
    text-decoration: none;
    user-select: none;
}

a:hover {
    color: #7e57c2;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 2px solid #ffffff34;
}

main {
    flex-grow: 1;
}

main > article {
    box-sizing: border-box;
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

::selection {
    background-color: #001659;
    color: #F6F9FB;
}

.nav-item {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    align-items: center;
}

#nav-logo {
    flex-basis: calc(100% * (1 / 3));
    justify-content: flex-start;
    font-size: 1.6rem;
    border-right: 2px solid #ffffff34;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: calc(100% * (1 / 3));
    gap: 2rem;
}

#nav-donate {
    flex-grow: 1;
    justify-content: flex-end;
    border-left: 2px solid #ffffff34;
}

.article-item {
    box-sizing: border-box;
    height: 100%;
}

.article-nav, .article-desc {
    border-left: 2px solid #ffffff34;
}

.article-nav, .article-title {
    border-top: 2px solid #ffffff34;
}

.article-nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.article-nav > button {
    all: unset;
    box-sizing: border-box;
    flex-grow: 1;
    font-size: 3.5rem;
    height: 100%;
    margin: 0px;
    font-family: 'MabryPro', sans-serif;
}

.article-nav > button:hover {
    cursor: pointer;
    background-color: #00000015;
}

.article-nav > button:first-child {
    border-right: 2px solid #ffffff34;
}

.article-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3rem;
    margin: 0px;
    text-transform: uppercase;
}

.article-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem;
    font-size: 1.2rem;
}

.article-img {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* background-image: url("/static/Assets/3.png"); */
}