<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/edu.css')}}">
    <script src="{{url_for('static', filename='js/common.min.js')}}"></script>
    <title>app | Edu</title>
</head>
<body>
    <nav data-toggled="false" data-transitionable="false">
        <div id="nav-logo" class="nav-item"><a href="/">logo</a></div>
        <div id="nav-mobile">
            <div id="nav-link" class="nav-item">
                <a href="/shop">SHOP</a>
                <a href="/coin">COIN</a>
            </div>
            <div id="nav-donate" class="nav-item">
                <a href="/donate">DONATE</a>
                <a href="/home">PROFILE</a>
            </div>
        </div>
        <button id="nav-toggle-btn" type="button" onclick="handleNavToggle()">
                <span>Menu</span>
                <i class="fa-solid fa-bars"></i>
        </button>
    </nav>
    <main>
        <h2>Mentor</h2>
        <h3 class="h">Grade 11 - 2025-26</h3>
        <br><br>
        <div class="track">
            <div class="trackItem">
                <img src="{{url_for('static', filename='Assets/imgs/edu/math.jpg')}}" alt="Grade 11 Math lessons" draggable="false">
                <h4>Math</h4>
            </div>
            <div class="trackItem">
                <img src="{{url_for('static', filename='Assets/imgs/edu/cs.jpg')}}" alt="Grade 11 CS lessons" draggable="false">
                <h4>Comp. Sci</h4>
            </div>
            <div class="trackItem">
                <img src="{{url_for('static', filename='Assets/imgs/edu/chem.jpg')}}" alt="Grade 11 Chem lessons" draggable="false">
                <h4>Chemistry</h4>
            </div>
            <div class="trackItem">
                <img src="{{url_for('static', filename='Assets/imgs/edu/eng.jpg')}}" alt="Grade 11 Eng lessons" draggable="false">
                <h4>English</h4>
            </div>
            <div class="trackItem">
                <img src="{{url_for('static', filename='Assets/imgs/edu/bio.jpg')}}" alt="Grade 11 Bio lessons" draggable="false">
                <h4>Biology</h4>
            </div>
            <div class="trackItem">
                <img src="{{url_for('static', filename='Assets/imgs/edu/phy.jpg')}}" alt="Grade 11 Phy lessons" draggable="false">
                <h4>Physics</h4>
            </div>
            <div class="trackItem">
                <img src="{{url_for('static', filename='Assets/imgs/edu/acc.jpg')}}" alt="Grade 11 Acc lessons" draggable="false">
                <h4>Accountancy</h4>
            </div>
            <div class="trackItem">
                <img src="{{url_for('static', filename='Assets/imgs/edu/bs.jpg')}}" alt="Grade 11 Buisness lessons" draggable="false">
                <h4>Buisness Studies</h4>
            </div>
            <div class="trackItem">
                <img src="{{url_for('static', filename='Assets/imgs/edu/psych.jpg')}}" alt="Grade 11 Psyc lessons" draggable="false">
                <h4>Psychology</h4>
            </div>
        </div>
    </main>
</body>
</html>