<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <script src="{{url_for('static', filename='js/common.min.js')}}"></script>
    <title>app | Home</title>
</head>
<body>
    <nav data-toggled="false" data-transitionable="false">
        <div id="nav-logo" class="nav-item"><a href="/">logo</a></div>
        <div id="nav-mobile">
            <div id="nav-link" class="nav-item">
                <a href="/shop">SHOP</a>
                <a href="/coin">COIN</a>
            </div>
            <div id="nav-donate" class="nav-item">
                <a href="/donate">DONATE</a>
                <a>PROFILE</a>
            </div>
        </div>
        <button id="nav-toggle-btn" type="button" onclick="handleNavToggle()">
                <span>Menu</span>
                <i class="fa-solid fa-bars"></i>
        </button>
    </nav>
    <main>
        <br><h2 class="h">Welcome back <span class="username">User</span> 👋</h2><br><br>
        <div class="content">
            <div class="left">
                <h3 style="font-size: 2.5rem; padding: 0px;">Your EduCoin balance</h3>
                <p style="font-size: 7rem; user-select: none;">🪙</p><br>
                <p class="number">₹ 214.98</p>
            </div>
            <div class="right">
                <div class="top">
                    <h3 style="font-size: 2.5rem; padding: 0px;">Add Item to Shop</h3><br><br>
                    <button disabled class="btn">
                        <div class="text-container">
                            <span class="text">Add</span>
                            <span class="text">Add</span>
                        </div>
                    </button>
                </div>
                <div class="bottom">
                    <h3 style="font-size: 2.5rem; padding: 0px;">Services</h3><br><br>
                    <p class="number"><a href="/services/edu">Education</a> • <a href="/services/wdn">WDN</a></p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>