<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}">

    <link rel="stylesheet" href="/static/css/index.css">
    <title>app | Home</title>
</head>
<body>
    <nav>
        <div id="nav-logo" class="nav-item">
            <a>logo</a>
        </div>
        <div id="nav-donate" class="nav-item">
            <a href="/donate">DONATE</a>
        </div>
    </nav>
    <main>
        <article>
            <div class="article-img article-item"></div>
            <div class="article-desc article-item">Description for thing 1</div>
            <div class="article-title article-item">Thing 1</div>
            <div class="article-nav article-item">
                <button class="article-nav-btn"><i class="fa-solid fa-arrow-left-long"></i></button>
                <button class="article-nav-btn"><i class="fa-solid fa-arrow-right-long"></i></button>
            </div>
        </article>
        <!-- <article>
            <div class="article-img article-item"></div>
            <div class="article-desc article-item">Description for thing 2</div>
            <div class="article-title article-item">Thing 2</div>
            <div class="article-nav article-item">
                <button class="article-nav-btn"><i class="fa-solid fa-arrow-left-long"></i></button>
                <button class="article-nav-btn"><i class="fa-solid fa-arrow-right-long"></i></button>
            </div>
        </article>
        <article>
            <div class="article-img article-item"></div>
            <div class="article-desc article-item">Description for thing 3</div>
            <div class="article-title article-item">Thing 3</div>
            <div class="article-nav article-item">
                <button class="article-nav-btn"><i class="fa-solid fa-arrow-left-long"></i></button>
                <button class="article-nav-btn"><i class="fa-solid fa-arrow-right-long"></i></button>
            </div>
        </article>
        <article>
            <div class="article-img article-item"></div>
            <div class="article-desc article-item">Description for thing 4</div>
            <div class="article-title article-item">Thing 4</div>
            <div class="article-nav article-item">
                <button class="article-nav-btn"><i class="fa-solid fa-arrow-left-long"></i></button>
                <button class="article-nav-btn"><i class="fa-solid fa-arrow-right-long"></i></button>
            </div>
        </article> -->
    </main>
</body>
</html>