<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}">

    <link rel="stylesheet" href="/static/css/index.css">
    <script src="{{url_for('static', filename='js/common.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/index.min.js')}}"></script>
    <title>app</title>
</head>
<body>
    <nav data-toggled="false" data-transitionable="false">
        <div id="nav-logo" class="nav-item"><a>logo</a></div>
        <div id="nav-mobile">
            <div id="nav-link" class="nav-item">
                <a href="/shop">SHOP</a>
                <a href="/coin">COIN</a>
            </div>
            <div id="nav-donate" class="nav-item">
                <a href="/donate">DONATE</a>
                <a href="/login">LOGIN</a>
            </div>
        </div>
        <button id="nav-toggle-btn" type="button" onclick="handleNavToggle()">
                <span>Menu</span>
                <i class="fa-solid fa-bars"></i>
        </button>
    </nav>
    <main>
        <article data-index="0" data-status="active">
            <div class="article-img article-item"></div>
            <div class="article-desc article-item"><p>
                When cars drive they push air, aside form being relieving on a hot summer day we can harness
                this to generate electricity and send that to rural areas
            </p></div>
            <div class="article-title article-item"><h2>wind based power generation</h2></div>
            <div class="article-nav article-item">
                <button class="article-nav-btn" type="button" onclick="handleLeftClick()"> <- </i></button>
                <button class="article-nav-btn" type="button" onclick="handleRightClick()"> -> </i></button>
            </div>
        </article>
        <article data-index="1" data-status="inactive">    
            <div class="article-img article-item"></div>
            <div class="article-desc article-item"><p>
                Cryptocurrency that has real world value! <a class="k" href="/coin">Learn more</a>.
            </p></div>
            <div class="article-title article-item"><h2 style="text-transform: none;">EduCoin</h2></div>
            <div class="article-nav article-item">
                <button class="article-nav-btn" type="button" onclick="handleLeftClick()"> <- </i></button>
                <button class="article-nav-btn" type="button" onclick="handleRightClick()"> -> </i></button>
            </div>
        </article>
        <article data-index="2" data-status="inactive">    
            <div class="article-img article-item"></div>
            <div class="article-desc article-item"><p>
                Auto rickshaws driven by women for women
            </p></div>
            <div class="article-title article-item"><h2>Woman Driver Network</h2></div>
            <div class="article-nav article-item">
                <button class="article-nav-btn" type="button" onclick="handleLeftClick()"> <- </i></button>
                <button class="article-nav-btn" type="button" onclick="handleRightClick()"> -> </i></button>
            </div>
        </article>
    </main>
</body>
</html>