<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.min.css') }}">

    <link rel="stylesheet" href="/static/css/shop.css">
    <title>app | Shop</title>
</head>
<body>
    <nav>
        <div id="nav-logo" class="nav-item">
            <a><i class="fa-solid fa-child-dress"></i></a>
        </div>
        <div id="nav-links" class="nav-item">
            <a href="/shop">SHOP</a>
            <a href="/coin">COIN</a>
        </div>
        <div id="nav-donate" class="nav-item">
            <a href="/donate">DONATE</a>
        </div>
    </nav>
    <main>
        8==================D -
    </main>
</body>
</html>